<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rate Mom's Dinners</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lily+Script+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <nav class="navbar sticky-top">
      <a class="navbar-brand" href="#">
      <img src="/images/003-dinner-1.svg" alt="" width="90" height="90">
      <span class="brandname">Rate Mom's Dinners</span>
      </a>
      <a href="/dishes">Add new Dish</a>
      <a href="/meals">Add new Meal</a>

    </nav>
  </head>
  <body>
