<div class="container">

  <div class="row">

    <div class="col-md-4">

      <div class="card mb-4">
        <div class="card-header">
          #1 Meal
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">thie sjfa;sdjflsdjf;laisl;vihxcv;lihasoijf;lejf;lsjif;lasjdf;lasdijoijl  ;liaj;lsdjiflasdjflajf  sasdlfjalsdfj</li>
          <li class="list-group-item">Dish 2</li>
          <li class="list-group-item">Dish 3</li>
        </ul>
      </div>

    </div>

  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-header">
        Featured
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
  </div>
  </div>
  <div class="col-md-4">
<div class="card mb-4">
  <div class="card-header">
    Featured
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
</div>
</div>
</div>
</div>
