<%- include('partials/header'); -%>
<h1 class="pageTitle">Home Page</h1>
<div class="">
  Welcome to Rate Mom's Dinners! This is a place for you to give feedback to Mom for her meals (not just dinners).  Each meal has the date eaten and is comprised of one or more dishes.  You can rate the whole meal AND the dishes individually.  This allows Mom to see what everyone likes :)
</div>
<%- include('partials/top3'); -%>
<%- include('partials/footer'); -%>
