.navbar {
  background-color: #f4de60;
  color: #354778;
}

.navbar-brand {
  margin-left: 2rem;
  padding: .75rem 0 1.25rem 0;
  font-family: 'Lily Script One', cursive;
}

.brandname {
  font-size: 2.75rem;
  margin-left: .5rem;
  color: #354778;
}

.brandname:hover {
      color: #95658B;
}


body {
  background-color: #f4f6f3;
}
a:hover {
    color: #95658B;
}

a {
  color: #354778;
}


.pageTitle {

  margin: 1rem 15rem 2rem;
}
